doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Администрирование статей
        link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(href="/stylesheets/authorAdm.css" rel="stylesheet")
        link(href="/stylesheets/topAndBottom.css" rel="stylesheet")
        #myModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4.modal-title Добавление данных
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        form(action="/article/add_new_article", method="post" class="form" id='newArticleForm' enctype="application/json")
                            .form__container
                                .form__inputs
                                    input(type="text" name='Title' placeholder="Заголовок" class="form__input" required)
                                    br
                                    br
                                    input(type="text" name='Text1' placeholder="Часть 1" class="form__input" required)
                                    br
                                    br
                                    input(type="text" name='Text2' placeholder="Часть 2" class="form__input" required)
                                    br
                                    br
                                    br
                                    select( name='author' required=true)
                                        option(value=''   hidden ) Выберите автора
                                        -for (let i = 0; i < authors.length; i++)
                                            option(value=authors[i].dataValues.Name) #{authors[i].dataValues.Name}
                                    br
                                    br

                            .form__buttons
                                input.btn.btn-info(type="submit" class="uk-button uk-button-primary top-margin" value="Отправить")

                    .modal-footer
                        button.btn.btn-info(type='button', data-dismiss='modal') Close
        - var editArticleNumber
        #myEdit.modal.fade(role='dialog')
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4.modal-title Изменение данных
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        form(action="/article/edit_article", method="post" class="form" id='editArticleForm' enctype="application/json")
                            .form__container
                                .form__inputs
                                    input(type="text" id='editTitle' name='editTitle' value=' ' placeholder="Заголовок" class="form__input"   required)
                                    br
                                    br
                                    input(type="text" id='editText1' name='editText1' placeholder="Часть 1" class="form__input"  required)
                                    br
                                    br
                                    input(type="text" id='editText2' name='editText2' placeholder="Часть 2" class="form__input" required)
                                    br
                                    br
                                    input(id='idArticle' name='idArticle' readonly)
                                    br
                                    br

                            .form__buttons
                                input.btn.btn-info(type="submit" class="uk-button uk-button-primary top-margin" value="Отправить")

                    .modal-footer
                        button.btn.btn-info(type='button', data-dismiss='modal') Close

        - var i=0;
        - var num=0;
            mixin rowsTable(id, Title, CreatedAt, Author, Button)
                tr
                    td #{id}
                    td #{Title}
                    td #{CreatedAt}
                    td #{Author}
                    td
                        a.btn.btn-danger.btn-lg(href='/article/delete_article/'+id) Удалить
                        button.btn.btn-info.btn-lg(onclick='fillEditField(' + num + ",'" + articleWithAuthor[num].dataValues.Title + "','" + articleWithAuthor[num].dataValues.Text1 + "','" + articleWithAuthor[num].dataValues.Text2 + "','" + articleWithAuthor[num++].dataValues.id  + "')", type='button', data-toggle='modal', data-target='#myEdit') Изменить

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarsExample08.collapse.navbar-collapse.justify-content-md-center
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/") Главная
                    li.nav-item
                        a.nav-link(href="/author") Авторы
                    li.nav-item
                        a.nav-link(href="/article") Посты
                    li.nav-item.dropdown.active
                        a#dropdown08.nav-link.dropdown-toggle(href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Меню
                        span.sr-only (current)
                        .dropdown-menu(aria-labelledby="dropdown08")
                            a.dropdown-item(href='/authorAdmin') Админочка авторов
                            a.dropdown-item(href='/articleAdmin') Админочка постов
                            a.dropdown-item(href='/posts') Об авторе
        input#searchString.form-control.input-sm(type="text" onkeyup="tableSearch()" placeholder="Поиск по таблице" aria-controls="example")
        // поиск строк
        table#authorsTable.table.table-striped.table-bordered

            thead
                tr
                    th Id
                    th Заголовок
                    th Время создания
                    th Автор
                    th
                        button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Добавить

            tbody
                -for (let i = 0; i < articleWithAuthor.length; i++)
                    +rowsTable(
                        articleWithAuthor[i].dataValues.id,
                        articleWithAuthor[i].dataValues.Title,
                        articleWithAuthor[i].dataValues.createdAt.toString(),
                        articleWithAuthor[i].Author.dataValues.Name
                    )
        footer.blog-footer
            p
                | Blog template built for
                a(href="https://getbootstrap.com/") Bootstrap
                |  by
                a(href="https://github.com/user-penguin") @user-penguin
                | .
                a(href="#")  Back to top
        script.
            function fillEditField(i, title1, text1, text2, id) {
                console.log('Я тут')
                var editTitle = document.getElementById('editTitle');
                var editText1 = document.getElementById('editText1');
                var editText2 = document.getElementById('editText2');
                var idArticle = document.getElementById('idArticle');
                editTitle.value = title1;
                editText1.value = text1;
                editText2.value = text2;
                idArticle.value = id
            }
        script.
            function tableSearch() {
                var phrase = document.getElementById('searchString');
                var table = document.getElementById('authorsTable');
                var regPhrase = new RegExp(phrase.value, 'i');
                var flag = false;
                for (var i = 1; i < table.rows.length; i++) {
                    flag = false;
                    for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                        flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                        if (flag) break;
                    }
                    if (flag) {
                        table.rows[i].style.display = "";
                    } else {
                        table.rows[i].style.display = "none";
                    }
                }
            }
        // Placed at the end of the document so the pages load faster
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src="/assets/js/vendor/popper.min.js")
        script(src="/dist/js/bootstrap.min.js")
        script(src="/assets/js/vendor/holder.min.js")
        script.
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
