doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Авторы
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(href="/stylesheets/topAndBottom.css" rel="stylesheet")
        link(href="/stylesheets/authors.css" rel="stylesheet")
        - var i=0;
            mixin rowsTable(Name, Ranking, Price, Mission, createdAt)
                tr
                    td #{Name}
                    td #{Ranking}
                    td #{Price}
                    td #{Mission}
                    td #{createdAt}
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarsExample08.collapse.navbar-collapse.justify-content-md-center
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/") Главная
                    li.nav-item.active
                        a.nav-link(href="/author") Авторы
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="/article") Посты
                    li.nav-item.dropdown
                        a#dropdown08.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Меню
                        .dropdown-menu(aria-labelledby='dropdown08')
                            a.dropdown-item(href='/authorAdmin') Админочка авторов
                            a.dropdown-item(href='/articleAdmin') Админочка постов
                            a.dropdown-item(href='#') Об авторе
        .container.bootstrap.snippet
            .row
                .col-lg-12
                    .main-box.no-header.clearfix
                        .main-box-body.clearfix
                            .table-responsive
                                input#searchString.form-control.input-sm(type="text" onkeyup="tableSearch()" placeholder="Поиск по таблице" aria-controls="example")
                                table#usersTable.table.user-list
                                    thead
                                        tr
                                            th
                                                span Имя
                                            th
                                                span Рейтинг
                                            th.text-center
                                                span Цена
                                            th
                                                span Слоган
                                            th  
                                                span Профиль создан
                                    tbody
                                        -for (let i = 0; i < authors.length; i++)
                                            +rowsTable(
                                              authors[i].dataValues.Name,
                                              authors[i].dataValues.Ranking,
                                              authors[i].dataValues.Price,
                                              authors[i].dataValues.Mission,
                                              authors[i].dataValues.createAt.toString()
                                            )
                                        //tr
                                        //    td
                                        //        img.avatar(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"  alt="")
                                        //        a.user-link(href='/author/16') Днепропетровская Анастасия Валерьевна
                                        //        span.user-subhead Member
                                        //    td 2013/08/12
                                        //    td.text-center
                                        //        span.label.label-default pending
                                        //    td
                                        //        a(href="#") marlon@brando.com
                                        //    td(style="width: 20%;")
                                        //        a.table-link(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                                        //        a.table-link(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                        //        a.table-link.danger(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                                        //tr
                                        //    td
                                        //        img.avatar(src="https://bootdey.com/img/Content/user_3.jpg" alt="")
                                        //        a.user-link(href="#") Колымаж Оксана Евгеньевна
                                        //        span.user-subhead Admin
                                        //    td 2013/08/12
                                        //    td.text-center
                                        //        span.label.label-success Active
                                        //    td
                                        //        a(href="#") marlon@brando.com
                                        //    td(style="width: 20%;")
                                        //        a.table-link(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                                        //        a.table-link(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                        //        a.table-link.danger(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
                                        //tr
                                        //    td
                                        //        img.avatar(src="https://bootdey.com/img/Content/user_2.jpg" alt="")
                                        //        a.user-link(href="#") Шаталин Максим Сергеевич
                                        //        span.user-subhead Member
                                        //    td 2013/08/12
                                        //    td.text-center
                                        //        span.label.label-danger inactive
                                        //    td
                                        //        a(href="#") marlon@brando.com
                                        //    td(style="width: 20%;")
                                        //        a.table-link(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-search-plus.fa-stack-1x.fa-inverse
                                        //        a.table-link(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                                        //        a.table-link.danger(href="#")
                                        //            span.fa-stack
                                        //                i.fa.fa-square.fa-stack-2x
                                        //                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
        footer.blog-footer
            p
                | Blog template built for
                a(href="https://getbootstrap.com/") Bootstrap
                |  by
                a(href="https://github.com/user-penguin") @user-penguin
                | .
                a(href="#")  Back to top
        script.
            function tableSearch() {
                var phrase = document.getElementById('searchString');
                var table = document.getElementById('usersTable');
                var regPhrase = new RegExp(phrase.value, 'i');
                var flag = false;
                for (var i = 1; i < table.rows.length; i++) {
                    flag = false;
                    for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                        flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                        if (flag) break;
                    }
                    if (flag) {
                        table.rows[i].style.display = "";
                    } else {
                        table.rows[i].style.display = "none";
                    }
                }
            }
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='/assets/js/vendor/popper.min.js')
        script(src='/dist/js/bootstrap.min.js')
        script(src='/assets/js/vendor/holder.min.js')
        script.
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
        script(type="text/javascript").
