doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Администрирование пользователей
        link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(href="/stylesheets/authorAdm.css" rel="stylesheet")
        link(href="/stylesheets/topAndBottom.css" rel="stylesheet")
        - var i=0;
            mixin rowsTable(Name, SecName, Email, Phone, Ranking, Price)
                tr
                    td #{Name}
                    td #{SecName}
                    td #{Email}
                    td #{Phone}
                    td #{Ranking}
                    td #{Price}
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarsExample08.collapse.navbar-collapse.justify-content-md-center
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/") Главная
                    li.nav-item
                        a.nav-link(href="/author") Авторы
                    li.nav-item
                        a.nav-link(href="/article") Посты
                    li.nav-item.dropdown.active
                        a#dropdown08.nav-link.dropdown-toggle(href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Меню
                        span.sr-only (current)
                        .dropdown-menu(aria-labelledby="dropdown08")
                            a.dropdown-item(href='/authorAdmin') Админочка авторов
                            a.dropdown-item(href='/articleAdmin') Админочка постов
                            a.dropdown-item(href='/posts') Об авторе
        input#searchString.form-control.input-sm(type="text" onkeyup="tableSearch()" placeholder="Поиск по таблице" aria-controls="example")
        // поиск строк
        table#authorsTable.table.table-striped.table-bordered
            thead
                tr
                    th Имя
                    th Фамилия
                    th Email
                    th Телефон
                    th Рейтинг
                    th Стоимость
            tbody
                -for (let i = 0; i < authors.length; i++)
                    +rowsTable(
                        authors[i].dataValues.Name,
                        authors[i].dataValues.SecName,
                        authors[i].dataValues.Email,
                        authors[i].dataValues.Phone,
                        authors[i].dataValues.Ranking,
                        authors[i].dataValues.Price
                    )
        footer.blog-footer
            p
                | Blog template built for
                a(href="https://getbootstrap.com/") Bootstrap
                |  by
                a(href="https://github.com/user-penguin") @user-penguin
                | .
                a(href="#")  Back to top
        script.
            function tableSearch() {
                var phrase = document.getElementById('searchString');
                var table = document.getElementById('authorsTable');
                var regPhrase = new RegExp(phrase.value, 'i');
                var flag = false;
                for (var i = 1; i < table.rows.length; i++) {
                    flag = false;
                    for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                        flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                        if (flag) break;
                    }
                    if (flag) {
                        table.rows[i].style.display = "";
                    } else {
                        table.rows[i].style.display = "none";
                    }
                }
            }
        // Placed at the end of the document so the pages load faster
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src="/assets/js/vendor/popper.min.js")
        script(src="/dist/js/bootstrap.min.js")
        script(src="/assets/js/vendor/holder.min.js")
        script.
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
